= render 'layouts/messages'
%h3 Welcome
-if current_user
  %p
    Hi #{current_user.name}!
  %p
    = simple_form_for(@game) do |f|
      = f.error_notification
      = f.button :submit, "New Game", :class => 'btn-primary'
-else
  %p
    Welcome to the awesome game
    %span.title
      Word Pyramids.
  %p
    #{link_to 'Login', new_user_session_path} or #{link_to 'Sign up', new_user_registration_path} to get started.