!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= "Word Pyramids"
      %meta{:content => "Word Pyramids", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
  %body
    %p
      Hey #{@player.name}, you LOST....
    %p
      Click #{link_to 'here', game_url(@game, only_path: false)} to view the game.
    %p
      Click #{link_to 'Play again', home_url(only_path: false)} to start a new game.