= link_to "Word Pyramids", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li
      = link_to 'Profile', edit_user_registration_path
    - if current_user.admin?
      %li
        = link_to 'Users', users_path
      %li
        = link_to 'Games', games_path
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path
= link_to image_tag('logo.png', size:"39x41"), root_path, :class => 'logo pull-right'
